<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is the home page</h1>
    <form method="post" action="/create">
      <input type="submit" value="Create Channel">
    </form>

    <form method="post" action="/join">
      <input type="submit" value="Join Channel">
    </form>
  </body>
</html>
